{{- /* Queries template */ -}}
{{- range .Queries}}
// Query{{.GoName}}: sends the {{.GoName}} query to a workflow
func (c *{{.Service.GetClientName}}) Query{{.GoName}}(ctx {{Context}}, workflowID string, runID string, req *{{QualifiedGoIdent .Input.GoIdent}}) (*{{QualifiedGoIdent .Output.GoIdent}}, error) {
	future, err := c.client.QueryWorkflow(ctx, workflowID, runID, Query{{.GoName}}Name, req)
	if err != nil {
		return nil, err
	}

	var resp *{{QualifiedGoIdent .Output.GoIdent}}
	err = future.Get(&resp)
	if err != nil {
		return nil, err
	}

	return resp, nil
}

// HandleQuery{{.GoName}}: sets up the {{.GoName}} query and responds accordingly, returns an error if it failed
func HandleQuery{{.GoName}}(ctx {{TemporalWorkflow "Context"}}, queryFunc func(req *{{QualifiedGoIdent .Input.GoIdent}}) (*{{QualifiedGoIdent .Output.GoIdent}}, error)) error {
	return {{TemporalWorkflow "SetQueryHandler"}}(ctx, Query{{.GoName}}Name, func(req *{{QualifiedGoIdent .Input.GoIdent}}) (*{{QualifiedGoIdent .Output.GoIdent}}, error) {
		return queryFunc(req)
	})
}
{{- end}}
