{{- /* Workflow method templates */ -}}

{{- define "workflow_execute" -}}
// ExecuteWorkflow{{.GoName}}: executes the workflow and returns a future to it
func (c *{{.Service.GetClientName}}) ExecuteWorkflow{{.GoName}}(ctx {{Context}}, req *{{QualifiedGoIdent .Input.GoIdent}}, options ...{{TemporalClient "StartWorkflowOptions"}}) ({{TemporalClient "WorkflowRun"}}, error) {
	wOptions := {{TemporalClient "StartWorkflowOptions"}}{
		TaskQueue: c.taskQueue,
	}
	if len(options) > 0 {
		wOptions = options[0]
	}

	if wOptions.TaskQueue == "" {
		wOptions.TaskQueue = {{.Service.GetDefaultTaskQueueConstName}}
	}

	{{- if .Service.Config.GenWorkflowPrefix}}
	if wOptions.ID == "" {
		wOptions.ID = {{Fmt "Sprintf"}}("%s/%s", Workflow{{.GoName}}Name, {{UUID "NewString"}}())
	}
	{{- end}}

	{{- if .Options.WorkflowExecutionTimeout}}
	{{template "timeout_option" dict "OptionsVar" "wOptions" "Field" "WorkflowExecutionTimeout" "Value" (toSeconds .Options.WorkflowExecutionTimeout)}}
	{{- end}}

	{{- if .Options.WorkflowRunTimeout}}
	{{template "timeout_option" dict "OptionsVar" "wOptions" "Field" "WorkflowRunTimeout" "Value" (toSeconds .Options.WorkflowRunTimeout)}}
	{{- end}}

	{{- if .Options.WorkflowTaskTimeout}}
	{{template "timeout_option" dict "OptionsVar" "wOptions" "Field" "WorkflowTaskTimeout" "Value" (toSeconds .Options.WorkflowTaskTimeout)}}
	{{- end}}

	{{- if .Options.RetryPolicy}}
	{{template "retry_policy" dict "OptionsVar" "wOptions" "Policy" .Options.RetryPolicy}}
	{{- end}}

	return c.client.ExecuteWorkflow(ctx, wOptions, Workflow{{.GoName}}Name, req)
}
{{- end -}}

{{- define "workflow_execute_sync" -}}
// ExecuteWorkflow{{.GoName}}Sync: executes the workflow and returns the result when finished
func (c *{{.Service.GetClientName}}) ExecuteWorkflow{{.GoName}}Sync(ctx {{Context}}, req *{{QualifiedGoIdent .Input.GoIdent}}, options ...{{TemporalClient "StartWorkflowOptions"}}) (*{{QualifiedGoIdent .Output.GoIdent}}, error) {
	future, err := c.ExecuteWorkflow{{.GoName}}(ctx, req, options...)
	if err != nil {
		return nil, err
	}

	var resp *{{QualifiedGoIdent .Output.GoIdent}}
	err = future.Get(ctx, &resp)
	if err != nil {
		return nil, err
	}

	return resp, nil
}
{{- end -}}

{{- define "workflow_get_result" -}}
// GetWorkflow{{.GoName}}Result: gets the result of a given workflow
func (c *{{.Service.GetClientName}}) GetWorkflow{{.GoName}}Result(ctx {{Context}}, workflowId string, runId string) (*{{QualifiedGoIdent .Output.GoIdent}}, error) {
	future := c.client.GetWorkflow(ctx, workflowId, runId)

	var resp *{{QualifiedGoIdent .Output.GoIdent}}
	err := future.Get(ctx, &resp)
	if err != nil {
		return nil, err
	}

	return resp, nil
}
{{- end -}}

{{- define "workflow_child_execute" -}}
// ExecuteChild{{.GoName}}: executes the workflow as a child workflow and returns a future to it
func (c *{{.Service.GetClientName}}) ExecuteChild{{.GoName}}(ctx {{TemporalWorkflow "Context"}}, req *{{QualifiedGoIdent .Input.GoIdent}}, options ...{{TemporalWorkflow "ChildWorkflowOptions"}}) ({{TemporalWorkflow "ChildWorkflowFuture"}}, error) {
	wOptions := {{TemporalWorkflow "ChildWorkflowOptions"}}{}
	if len(options) > 0 {
		wOptions = options[0]
	}

	if wOptions.TaskQueue == "" {
		wOptions.TaskQueue = c.taskQueue
	}

	if wOptions.TaskQueue == "" {
		wOptions.TaskQueue = {{.Service.GetDefaultTaskQueueConstName}}
	}

	{{- if .Service.Config.GenWorkflowPrefix}}
	if wOptions.WorkflowID == "" {
		var id string
		genId := {{TemporalWorkflow "SideEffect"}}(ctx, func(ctx {{TemporalWorkflow "Context"}}) interface{} {
			return {{Fmt "Sprintf"}}("%s/%s", Workflow{{.GoName}}Name, {{UUID "NewString"}}())
		})

		err := genId.Get(&id)
		if err != nil {
			return nil, err
		}

		wOptions.WorkflowID = id
	}
	{{- end}}

	{{- if .Options.WorkflowExecutionTimeout}}
	{{template "timeout_option" dict "OptionsVar" "wOptions" "Field" "WorkflowExecutionTimeout" "Value" (toSeconds .Options.WorkflowExecutionTimeout)}}
	{{- end}}

	{{- if .Options.WorkflowRunTimeout}}
	{{template "timeout_option" dict "OptionsVar" "wOptions" "Field" "WorkflowRunTimeout" "Value" (toSeconds .Options.WorkflowRunTimeout)}}
	{{- end}}

	{{- if .Options.WorkflowTaskTimeout}}
	{{template "timeout_option" dict "OptionsVar" "wOptions" "Field" "WorkflowTaskTimeout" "Value" (toSeconds .Options.WorkflowTaskTimeout)}}
	{{- end}}

	{{- if .Options.RetryPolicy}}
	{{template "retry_policy" dict "OptionsVar" "wOptions" "Policy" .Options.RetryPolicy}}
	{{- end}}

	return {{TemporalWorkflow "ExecuteChildWorkflow"}}({{TemporalWorkflow "WithChildOptions"}}(ctx, wOptions), Workflow{{.GoName}}Name, req), nil
}
{{- end -}}

{{- define "workflow_child_execute_sync" -}}
// ExecuteChild{{.GoName}}Sync: executes the workflow as a child workflow and returns the result when finished
func (c *{{.Service.GetClientName}}) ExecuteChild{{.GoName}}Sync(ctx {{TemporalWorkflow "Context"}}, req *{{QualifiedGoIdent .Input.GoIdent}}, options ...{{TemporalWorkflow "ChildWorkflowOptions"}}) (*{{QualifiedGoIdent .Output.GoIdent}}, error) {
	future, err := c.ExecuteChild{{.GoName}}(ctx, req, options...)
	if err != nil {
		return nil, err
	}

	var resp *{{QualifiedGoIdent .Output.GoIdent}}
	err = future.Get(ctx, &resp)
	if err != nil {
		return nil, err
	}

	return resp, nil
}
{{- end -}}
