name: "Pull request build"
on:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: "Check out code"
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: "Setup Go"
        uses: actions/setup-go@v5
        with:
          go-version: 1.23
          cache: true
      - uses: bufbuild/buf-action@v1
        with:
          setup_only: true
      - name: "Run unit tests with race detection and coverage"
        run: make test-unit
      - name: "Build plugins and add to PATH"
        run: |
          make build
          go build -o bin/protoc-gen-go google.golang.org/protobuf/cmd/protoc-gen-go
          echo "$GITHUB_WORKSPACE/bin" >> $GITHUB_PATH
      - name: "Regenerate examples and verify they compile"
        run: make gen verify-examples

  buf:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
      - uses: bufbuild/buf-action@v1
        with:
          # buf won't push on PR :)
          token: ${{ secrets.BUF_TOKEN }}
